---
const header = "Hej Verden";
const content = "Dette er en kort beskrivelse af min side";
---

<article>
  <h2>{header}</h2>
  <p>
    {content}
  </p>
  <button>Klik Her</button>
</article>

<style>
  h2 {
    color: red;
  }
  button {
    color: blue;

    &:hover {
      color: green;
    }
  }

  article {
    background-color: yellow;
  }

  p {
    color: blue;
  }
</style>
